#header {
	margin-top: 20px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	scroll-behavior: smooth;
}

.header h4 {
	font-weight: 400;
	font-size: 14px;
	width: 145px;
	color: Grayscale/800 rgb(38, 49, 65);
}
.products1 {
	width: 200px;
	height: 52px;
	padding: 16px, 20px, 16px, 20px;
	background: rgb(255, 77, 77);
	font-weight: 500;
	font-size: 16px;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 5px;
}
.header input {
	width: 100%;
	background-color: rgb(242, 245, 249);
	font-weight: 400;
	font-size: 16px;
	color: rgb(161, 171, 185);
	outline: none;
	padding: 17px 10px;
	border-radius: 0 10px 10px 0;
	border: none;
}
.btns button {
	height: 52px;
	padding: 14px, 14px, 14px, 14px;
	background-color: rgb(242, 245, 249);
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 400;
}
.btns {
	display: flex;
	gap: 20px;
}

.headerButtonInInput {
	display: flex;
	width: 700px;
	align-items: center;
}

.headerImginH4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 350px;
}

@media (max-width: 375px) {
	.btns {
		display: none;
	}
	.f {
		display: none;
	}
	.header {
		display: flex;
		flex-direction: column;
		width: auto;
	}
	.header input {
		width: 100%;
		border-radius: 10px;
	}
	.headerButtonInInput {
		width: 100%;
	}
}
